<div class="ann">Free Shipping on all Luxury Orders above ₹5,000</div>
<nav>
  <div class="logo" onclick="location.href='index.html'">
    YANARA <span>Fashions</span>
  </div>
  <ul class="nl">
    <li><a href="index.html">Home</a></li>
    <li><a href="shop.html">Shop</a></li>
    <li><a href="designer.html">Designer</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
  <div class="nr">
    <button class="cbtn" onclick="go('cart')">
      Cart <span class="cc" id="ccount">0</span>
    </button>
  </div>
</nav>